.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    /* border-bottom: 1px solid #ccc; */
    background-color: #171615;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.links_container {
    display: flex;
    flex-direction: row;
    width: 30%;

}

.link {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
    color: white;
}

.teste {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

.battle_tittle {
    background-color: green;
    color: white;
    padding: 15px 25px;
    font-size: 1.5rem;
    text-shadow: #000 2px 2px 2px;
    font-family: 'Title-Minecraft-Font';
    border-left: #2a641c 5px solid;
    border-bottom: #2a641c 5px solid;
    border-right: #2a641c 5px solid;
    border-top: #a0e081 5px solid;
}