.bg {
    background-color: black;
    padding: 10px;
    
}

.boxInventory {
    margin-top: 70px;
    background-color: #c6c6c6;
    padding: 10px;
}

.sword {
    display: flex;
}

.itemArmadura {
    display: flex;
    background-image: url(../../public/inventory/slot.png);
    width: 54px;
    height: 54px;
    margin: 2px;
}

.itemArmadura .itemDoItem {
    position: relative;
    /* deixar no centro */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hidden {
    display: none;
}