.bg {
    background-color: black;
    padding: 10px;
    
}

.boxInventory {
    margin-top: 70px;
    background-color: #c6c6c6;
    padding: 10px;
}

.sword {
    display: flex;
}

.itemArmadura {
    display: flex;
    background-image: url(../../public/inventory/slot.png);
    width: 54px;
    height: 54px;
    margin: 2px;
}

.itemArmadura .itemDoItem {
    position: relative;
    /* deixar no centro */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
    background-color: #2a641c;
}

.hidden {
    display: none;
}

.espadaSlot {
    margin-top: 10px;
}

.buttonSend {
    background-color: green;
    color: white;
    padding: 15px 25px;
    font-size: 1.0rem;
    text-shadow: #000 2px 2px 2px;
    font-family: 'Title-Minecraft-Font';
    border-left: #2a641c 5px solid;
    border-bottom: #2a641c 5px solid;
    border-right: #2a641c 5px solid;
    border-top: #a0e081 5px solid;
}