/* .teste {
    font-family: 'Minecraft-Font';
} /* isso é so pra caso alm queira usar a fonte do mine, ela ta com esse nome é so usar esse font family 

.teste_com_titulo {
    font-family: 'Title-Minecraft-Font';
} */
.container1 {
    background: rgba(38, 36, 35, 255);
}
.back{
  background-color: #ebe4e2;
}
.divHeader{
    background-color: #52a535;
    padding-top: 6%;
    padding-bottom: 4.7%;
    text-align: center;
}
.divHeader2{
  margin-top: -5%;
  margin-bottom: 2%;
    text-align: center;
}

.tituloHeader {
    font-family: 'Title-Minecraft-Font';
    color: white;
    padding-top: 1em;
    font-size: 4rem;
    text-transform: uppercase;
    padding-bottom: 8px;

}

.tituloCards{
    font-family: 'Title-Minecraft-Font';
    color: white;
    padding-top: 1em;
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 8px;
    text-align: center;
    align-items: center;

}
.container2 {
    display: flex;
    align-items: center;
    text-align: flex-end;
    padding: 7vh;
    color: white;
}

.container3 {
    background-image: url(	https://www.minecraft.net/content/dam/games/minecraft/key-art/highlight-tails.jpg);
    background-size: cover;
    background-position: center;
    height: 330px;
    width: 600px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.container3 h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    padding: 10px;
    margin: 0;
    color: white;
    transition: transform 0.3s, top 0.3s;
    /* Adicione uma transição suave para o efeito de hover */
}

.container3:hover {
    transform: scale(1.05);
    /* Aplica um leve zoom quando o mouse passa sobre o contêiner */
    cursor: pointer;
}



.container4 {
    background-image: url(	https://www.minecraft.net/content/dam/games/badger/key-art/highlight-legends.jpg);
    background-size: cover;
    background-position: center;
    height: 330px;
    width: 500px;
    margin-left: 5%;
    position: relative;
    transition: transform 0.3s;

}

.container4 h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    padding: 10px;
    margin: 0;
    color: white;
    transition: transform 0.3s, top 0.3s;
}

.container4:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.card1 {
  background-color: #ebe4e2;
  width: 25rem;
  height: 25rem;
  padding: 1%;
  margin: 1.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url("https://www.minecraft.net/content/dam/games/dungeons/key-art/md25-header.jpg.transform/minecraft-image-medium/image.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.card1:hover {
  .text{
    color: white;
    font-family: 'Title-Minecraft-Font';
    font-size: 1.75rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 40%;
    margin-left:  -3%;
  }
  transform: scale(1.02);
  cursor: pointer;
}
.text {
    color: white;
    font-family: 'Title-Minecraft-Font';
    font-size: 1.75rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-left:  -3%;
}

.card2 {
  background-color: #ebe4e2;
  width: 25rem;
  height: 25rem;
  padding: 1%;
  margin: 1.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url("../public/armamentoMIne.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.card2:hover {
  .textCard2{
    color: white;
    font-family: 'Title-Minecraft-Font';
    font-size: 1.75rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 40%;
    margin-left:  -3%;
  }
  transform: scale(1.05);
  cursor: pointer;
}
.textCard2 {
    color: white;
    font-family: 'Title-Minecraft-Font';
    font-size: 1.75rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-left:  -3%;
}

.card3 {
  background-color: #ebe4e2;
  width: 25rem;
  height: 25rem;
  padding: 1%;
  margin: 1.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url("../public/encantamentoMine.png");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.lastCard{
    color: white;
    font-family: 'Title-Minecraft-Font';
    font-size: 1.75rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-left:  -3%;
}

.card3:hover {
  .lastCard{
    color: white;
    font-family: 'Title-Minecraft-Font';
    font-size: 1.75rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 40%;
    margin-left:  -3%;
  }
  transform: scale(1.05);
  cursor: pointer;
}

.cardContainer {

    justify-content: space-between;
    /* Espaçamento entre os cards */
    background-color: #ebe4e2;
    display: flex;
    padding-top: 6%;
    margin-bottom: -3%;
  }


.footerimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10%;
}
.img12{
  margin-top: -4%;
  width: 100%;
}