.main {
    background-image: url(../../public/bg-wool-dark.png);
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    color: white;; 
    /* background-color: #171615; */

}


.titles {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    font-family: 'Title-Minecraft-Font';
}

.sigilos_subTitles {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Minecraft-Enchantment-Font';
}
.books_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    color: white;
    /* background-color: #171615; */
}
.encantamentos_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    color: white;
    /* background-color: #171615; */
}

.encantamentos {
    background-color: #a09172;
    border-top: #cdbfa7 solid 0.2rem;
    border-left: #cdbfa7 solid 0.2rem;
    border-right: #57503a solid 0.2rem;
    border-bottom: #57503a solid 0.2rem;
    color: #695e43;
    height: 7rem;
    width: 100%;
    margin: 0.5rem;
}
.encantamentos_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    font-family: "Minecraft-Font";
}
.encantamentos_name {
    font-size: 1.5rem;
    font-family: "Minecraft-Font";

}
.encantamentos:hover {
    background-color: #b588ac;
    border-top: #f7baf4 solid 0.2rem;
    border-left: #f7baf4 solid 0.2rem;
    border-right: #684b5f solid 0.2rem;
    border-bottom: #684b5f solid 0.2rem;
    color: #fff688;
}