.main {
    color: #141414;
}
.encantamento {
    background-color: #a09172;
    color: #685e4a;
    width: 30%;
    padding: 15px 25px;
    font-size: 1.5rem;
    text-shadow: #000 1px 1px 1px;
    border-bottom: #685e4a 5px solid;
    border-right: #685e4a 5px solid;
    border-left: #decaa6 5px solid;
    border-top: #decaa6 5px solid;
}

.encantamento:hover {
    /* background-color: #685e4a;
    color: #a09172;
    transition: 0.3s; */
    background-color: #b887aa;
    color: #feefb7;
    text-shadow: none;
    border-bottom: #6b4a60 5px solid;
    border-right: #6b4a60 5px solid;
    border-left: #f7d9f0 5px solid;
    border-top: #f7d9f0 5px solid;
}

.encantamentos_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0;    

}







.titles {
    font-family: 'Title-Minecraft-Font';
}
.subTitles {
    font-family: 'Minecraft-Enchantment-Font';
}
.encantamento_name {
    font-family: 'Minecraft-Font';
}
.encantamento_level {
    font-family: 'Minecraft-Font';
}
.encantamento_name_sigla{
    font-family: 'Minecraft-Enchantment-Font';
}